<div class = "about-page-wrapper">
  <div class = "top-image-space">
    <div class = "about-page-title-wrapper">
      <p class = "about-title">
        ABOUT
      </p>

      <p class = "about-sub-title">
        Our Music Magazine について
      </p>
    </div>
  </div>

  <div class = "row description-area">

    <div class = "main-description col-md-12 col-sm-12">
      <p class = "main-description-title">
        100通りの感性で新たな熱狂をつくりだそう。
      </p>
      <p class = "main-description-text">
        「愛してやまないこの音楽を、もっと多くの人に知ってほしい」 <br />
        そんな想いを持つ人のためのユーザー参加型音楽情報メディアです。
      </p>
    </div>

    <ul class = "sub-descriptions">
      <li class = "sub-description-1 col-md-4 col-sm-12">
        <p class = "sub-description-title">
          Read
        </p>
        <div class = "icon-center">
          <%= image_tag 'read-icon.png', class: "description-icon" %>
        </div>
        <p class = "sub-description-text">
          他のユーザーが書いた記事を読むことであなたが今までに知らなかった音楽情報を知ることができるでしょう。ハッシュタグや検索機能を活用すればあなたの求める情報へも簡単にリーチできます。
        </p>
      </li>

      <li class = "sub-description-2 col-md-4 col-sm-12">
        <p class = "sub-description-title">
          Write
        </p>
        <div class = "icon-center">
          <%= image_tag 'write-icon.png', class: "description-icon" %>
        </div>

        <p class = "sub-description-text">
          ライターになった気分であなたの好きな音楽について投稿してみてください。記事にはPV数、他ユーザーからのいいねやコメントが表示されます。たくさん読まれたり、いいねをもらった投稿はサイト内での表示順位もあがります。
        </p>
      </li>

      <li class = "sub-description-3 col-md-4 col-sm-12">
        <p class = "sub-description-title">
          Follow
        </p>
        <div class = "icon-center">
          <%= image_tag 'follow-icon.png', class: "description-icon" %>
        </div>
        <p class = "sub-description-text">
          趣味が合うと感じたユーザーをぜひフォローしてみてください。サイト内では、フォローしているユーザーの記事のみを表示することもできます。
        </p>
      </li>
    </ul>

  </div>

  <div class = "top-image-space"></div>

</div>
