<%= form_with(model: [article, comment]) do |form| %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit 'コメントする' %>
  </div>
<% end %>
