<div class = "top-image-space">
  <div class = "container">

    <div class = "row top-design-area">
      <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
      <div class = "sub-title-wrapper col-md-12 col-sm-12">
        <ul class = "sub-title">
          <li class="glitch" data-text="Create">
            Create
          </li>
          <li class="glitch" data-text="a">
            a
          </li>
          <li class="glitch" data-text="CRAZE">
            CRAZE
          </li>
        </ul>
      </div>
    </div>

    <div class = "row top-message-area">
      <p class = "top-message">
        いつだって熱狂をつくるのは、僕たちリスナーだ。
      </p>
    </div>

    <div class = "row about-link-area">
      <%= link_to(about_path , class: "about-link") do %>
        <p class = "link-title">
          ABOUT
        </p>
      <% end %>
    </div>

  </div>
</div>

<div class = "container">
  <div class = "article-index-contents">
    <%= render 'shared/articles', articles: @new_articles, title: '新着記事' %>
    <%= render 'shared/articles', articles: @favorite_articles, title: '人気記事' %>
  </div>
</div>
