<div class = "top-image-space"></div>

<div class = "container">
  <div class = "index-contents">

    <%= render 'shared/articles', articles: @new_articles, title: '新着記事' %>
    <%= render 'shared/articles', articles: @favorite_articles, title: '人気記事' %>

  </div>
</div>
