<% if params[:name] == "follow_index" %>
  <h1>フォロー</h1>
<% elsif params[:name] == "follower_index" %>
  <h1>フォロワー</h1>
<% end %>

<% unless @follow_relations.count == 0 %>
  <%= render 'shared/users', users: @follow_relations, title: " " %>
<% else %>
  <p>まだフォローがありません</p>
<% end %>
