<h2><%= title %></h2>

<% users.each do |user| %>
  <% @user_id = favorite.user_id %>
  <% user = User.find(@user_id) %>
  <div class = "favorite-user-info">
    <%= link_to(user_path(user)) do %>
      <%= image_tag("#{user.icon_image.icon_thumb}", size: "50x50", class: "user-icon" ) %>
    <% end %>
    <%= link_to user.name ,user_path(user) %><br/><br/>
  </div>
<% end %>
