/*全体*/
body {
  background-color: #fafafa;
  position: relative;
  font-family: "メイリオ";

}

h1,h2 {
  margin: 40px 0 20px 0;
}

li {
  list-style: none;
}

a:link {
  color:#000000;
}

a:visited {
  color:#000000;
  text-decoration:none
}

a:hover {
  color: gray;
  transition: all .4s;
  text-decoration: none;
}

a:active {
  color:#000000;
  text-decoration:none
}

.user-icon {
  border-radius: 3px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

.user-icon-large {
  border-radius: 3px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

/*header*/
header {
  position: fixed;
  background-color: rgba(0,0,0,.8);
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

header .logo {
  position: absolute;
}

header img {
  width: 280px;
  height: 30px;
}

.menu {
  position: absolute;
  height: 50px;
  padding-left: 30px;
}

.menu > li {
  float: left;
  margin-right: 30px;
  height: 50px;
  line-height: 50px;
}

.menu > li a {
  text-align: center;
  display: block;
  color: #fff;
}

.menu > li a:hover {
  color: #999;
}

ul.menu__second-level {
  padding-left: 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu > li:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu__second-level li {
  background-color: rgba(0,0,0,.5);
  border-top: 1px solid #111;
  width: 120px;
}

.init-bottom:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu:before,
.menu:after {
  content: " ";
  display: table;
}

.menu:after {
  clear: both;
}

.menu > li.menu__single {
  position: relative;
}

li.menu__single ul.menu__second-level {
  position: absolute;
  top: 40px;
  width: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

.search-form {
  position:absolute;
}

.search-form-btn {
  display: none;
}

@media screen and (max-width: 992px) {
  header {
    height: 100px;
  }

  header .logo {
    padding: 15px;
  }

  .menu {
    top: 30px;
    margin: 15px 0px;
  }

  .search-form {
    width: 300px;
    margin: 30px 0px;
    right: 30px;
  }

  .header-space {
    height: 130px;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 70px;
  }

  header .logo {
    padding: 20px;
  }

  .menu {
    margin: 10px 0px;
    right: 0%;
  }

  .search-form {
    width: 250px;
    margin: 18px 0px;
    right: 30%;
  }

  .header-space {
    height: 100px;
  }
}


/*footer*/
footer {
  margin-top: 50px;
  background: #444;
}

footer p {
  text-align: center;
  line-height: 200px;
  color: white;
  margin: 0;
}
