/*全体*/
body {
  background-color: #fafafa;
  position: relative;
}

li {
  list-style: none;
}

a:link {
  color:#000000;
  text-decoration:none;
}

a:visited {
  color:#000000;
  text-decoration:none
}

a:hover {
  color:#000000;
  text-decoration:none
}

a:active {
  color:#000000;
  text-decoration:none
}

/*header*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-wrapper {
  height: 80px;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

header .logo {
  padding: 15px;
  position: absolute;
}

.menu {
    position: absolute;
    margin: 15px 0px;
    right: 0;
    height: 50px;

}

.menu > li {
    float: left;
    margin-right: 50px;
    height: 50px;
    line-height: 50px;
}

.menu > li a {
    display: block;
    color: #fff;
}

.menu > li a:hover {
    color: #999;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu > li:hover {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.menu__second-level li {
    border-top: 1px solid #111;
    width: 100px;
}

/* 下矢印 */
.init-bottom:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu > li.menu__single {
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

.search-form {
  position:absolute;
  width: 230px;
  top: 100px;
}

.search-form-btn {
  display: none;
}
